.aboutus-flex {
  display: flex;
  margin: 0 auto;
  padding: 64px 0 0 0;
  max-width: 950px;
  min-height: 650px;
}

.aboutus-left {
  flex: 0 0 31%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 35px;
  padding-bottom: 36px;
  min-height: 520px;
}

.aboutus-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-weight: 700;
  font-size: 17px;
  color: #222;
  margin-right: 6px;
}

.aboutus-divider {
  width: 1.5px;
  min-height: 520px;
  background: #bdbdbd;
  margin: 0 48px 0 38px;
  align-self: stretch;
}

.aboutus-right {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.aboutus-title {
  font-size: 43px;
  font-weight: 800;
  color: #232323;
  margin-bottom: 26px;
  margin-top: 0;
  line-height: 1.07;
}

.aboutus-p {
  font-size: 18px;
  color: #444;
  margin-bottom: 18px;
  line-height: 1.55;
}

/* big photo after first section */
.aboutus-img-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0 0 0;
}

.aboutus-img-big {
  width: 77vw;
  max-width: 1000px;
  height: auto;
  border-radius: 28px;
  object-fit: cover;
  box-shadow: 0 2px 26px #eee;
}

/*  Our Story */
.aboutus-story-content {
  width: 100%;
  max-width: 830px;
  margin: 70px auto 70px auto;
  text-align: center;
  padding: 12px 18px 0 18px;
}

.aboutus-title-center {
  font-size: 50px;
  font-weight:700;
  margin-bottom: 15px;
  color: #232323;
  letter-spacing: 1px;
}

.aboutus-underline {
  width: 70px;
  height: 4px;
  background:black;
  opacity: 0.11;
  margin: 0 auto 32px auto;
  border-radius: 6px;
}

.aboutus-story-text {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-bottom: 28px;
  line-height: 1.65;
}

@media (max-width: 900px) {
  .aboutus-img-section { margin-bottom: 28px; }
  .aboutus-flex { flex-direction: column; max-width: 98vw; padding: 12px 0 0 0;}
  .aboutus-divider { width: 95vw; min-height: 1px; margin: 34px 0 40px 0; }
  .aboutus-left, .aboutus-right { justify-content: flex-start !important; align-items: flex-start !important; padding-left: 16px; padding-bottom: 0; }
  .aboutus-title-center { font-size: 32px; }
  .aboutus-title { font-size: 26px; }
  .aboutus-story-text { font-size: 16px; }
  .aboutus-img-big { width: 98vw; max-width: 430px; }
}

.team-section {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 80px 0 40px 0;
  text-align: center;
}

.team-title {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #222;
  letter-spacing: 1px;
}

.team-underline {
  width: 60px;
  height: 3px;
  background: #222;
  opacity: 0.15;
  margin: 0 auto 34px auto;
  border-radius: 6px;
}

.team-row {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 62px;
}

.team-member {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-img-wrap {
  width: 350px;
  height: 370px;
  overflow: hidden;
  /* border-radius: 20px; */
  background: #fff;
  box-shadow: 0 0 10px #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-name {
  margin-top: 21px;
  font-weight: 700;
  font-size: 24px;
  color: #232323;
}

.team-title-small {
  color: #474747;
  font-size: 18px;
  margin-top: 3px;
}

.team-row-single {
  display: flex;
  justify-content: flex-start;     
  gap: 0;
  margin-bottom: 34px;
  margin-left: 120px;            
}

/* Responsive */
@media (max-width: 1200px) {
  .team-member, .team-img-wrap { width: 88vw; max-width: 370px; }
  .team-row { gap: 8vw; flex-wrap: wrap; }
}
@media (max-width: 800px) {
  .team-row { flex-direction: column; gap: 42px; }
}
