.projects-wrapper {
  max-width: 1200px;      
  margin: 0 auto;
  padding: 40px 0 40px 0;
}

.projects-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;       
  row-gap: 26px;          
  justify-items: center;  
}

.project-image-box {
  width: 360px;           
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 14px #eee;
}

.project-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1100px) {
  .projects-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .projects-gallery {
    grid-template-columns: 1fr;
  }
}
