@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Wix+Madefor+Display:wght@400..800&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
} */
.nav-font{
  font-family:"Wix Madefor Display", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 46px;
  color: black;
}

@theme{
  --breakpoint-2xl:1400px;
}

@layer utilities {
  .container{margin-inline: auto; width: 80%;}

}
@layer base{
h1,h2,h3,h4,h5,h6{ @apply font-bold}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
h3{
  font-size: 1.17em;
}
h4{
  font-size: 1em;
}
h5{
  font-size: 0.83em;
}
h6{
  font-size: 0.67em;
}
}

